<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.softray_solutions.newschoolproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".BaseApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:allowBackup">
        <activity android:name=".ui.activities.activity_file.FileActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.activities.activity_chat.ChatActivity"
            />
        <activity
            android:name=".ui.activities.activity_chat.ChatActivity"
            android:parentActivityName=".ui.activities.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.code.CodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.changePassword.ChangePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.editProfile.EditProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.paymentReset.PaymentResetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.base.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.main.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/main_activity_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.contactUs.ContactUsActivity"
            android:label="@string/feedback_drawer"
            android:parentActivityName=".ui.activities.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.newsContent.NewsContentActivity"
            android:parentActivityName=".ui.activities.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.onBoarding.OnBoardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.classSchedule.ClassScheduleActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activities.info.InfoActivity"
            android:label="@string/info_drawer"
            android:parentActivityName=".ui.activities.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.sons.SonsActivity"
            android:label="@string/sons_title"
            android:parentActivityName=".ui.activities.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.studentEvaluation.StudentEvaluationActivity"
            android:label="@string/students_evaluation"
            android:parentActivityName=".ui.activities.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.revisions.RevisionsActivity"
            android:label="@string/revisions"
            android:parentActivityName=".ui.activities.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.lessons.LessonsActivity"
            android:label="@string/lessons_preparation"
            android:parentActivityName=".ui.activities.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.weeklyPlan.WeeklyPlanActivity"
            android:label="@string/week_plan"
            android:parentActivityName=".ui.activities.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.askYourTeacher.AskYourTeacherActivity"
            android:label="@string/ask_your_teacher"
            android:parentActivityName=".ui.activities.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.accountBalance.AccountBalanceActivity"
            android:label="@string/account_statement"
            android:parentActivityName=".ui.activities.sons.SonsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.homework.HomeworkActivity"
            android:label="@string/homework"
            android:parentActivityName=".ui.activities.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.weekplanschedule.PlanScheduleActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activities.lessonPreparationTeacher.LessonPreparationsTeacher"
            android:label="@string/lessons_preparation"
            android:parentActivityName=".ui.activities.main.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>